<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="at.qraz.qrscanner"
      android:versionCode="102"
      android:versionName="1.0.2">
     	
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    
   	<application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
   	    
   	    <uses-library android:name="com.google.android.maps" />
   	    
        <activity android:label="@string/app_name" android:name="at.qraz.qrcodelocalizer.Main" android:process="Main.Process">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="at.qraz.qrcodelocalizer.SettingsActivity" android:label="@string/app_name" android:process="Main.Process"/>        
        <activity android:name="at.qraz.qrcodelocalizer.LocationPreviewActivity" android:label="@string/app_name" android:process="LargeMap.Preview"/>
    </application>
</manifest>